jupyter-server==1.23.4
pkce==1.0.3
PyAstronomy==0.20.0
datashader==0.15.2
sphinxcontrib-serializinghtml==1.1.5
dask==2023.6.0
pyasn1==0.4.8
python-slugify==5.0.2
h5py==3.9.0
qtconsole==5.4.2
conda-verify==3.4.2
pep8==1.7.1
conda==24.5.0
ConfigArgParse==1.7.1
rfc3339-validator==0.1.4
backports.tempfile==1.0
executing==0.8.3
docstring-to-markdown==0.11
text-unidecode==1.3
PyWavelets==1.4.1
lazy_loader==0.4
GitPython==3.1.45
conda-build==3.27.0
numba==0.58.0
decorator==5.1.1
prompt-toolkit==3.0.36
Corrfunc==2.5.2
gmpy2==2.1.2
notebook==6.5.4
contourpy==1.0.5
anaconda-navigator==2.5.4
mdit-py-plugins==0.3.0
jupyter_server_ydoc==0.8.0
Jinja2==3.1.2
tables==3.8.0
jaraco.classes==3.2.1
charset-normalizer==2.0.4
menuinst==2.0.2
jupyter-ydoc==0.2.4
multipledispatch==0.6.0
Markdown==3.4.1
jsonschema-specifications==2023.7.1
pandocfilters==1.5.0
ptyprocess==0.7.0
asdf==3.0.1
hvplot==0.9.0
mdurl==0.1.0
sphinxcontrib-devhelp==1.0.2
service-identity==18.1.0
statsmodels==0.14.0
protobuf==6.32.0
Unidecode==1.2.0
PyYAML==6.0.1
django-print-settings==0.1.2
yarl==1.8.1
queuelib==1.6.2
keyring==23.13.1
tinycss2==1.2.1
toml==0.10.2
spyder-kernels==2.4.4
flake8==6.0.0
python-lsp-jsonrpc==1.0.0
python-dotenv==0.21.0
retrying==1.4.2
jsonpatch==1.32
multidict==6.0.2
responses==0.13.3
colorama==0.4.6
anyio==3.5.0
Pylians==0.12
python-dateutil==2.8.2
constantly==15.1.0
ipykernel==6.25.0
pylint-venv==2.3.0
smart-open==5.2.1
pyerfa==2.0.0
attrs==23.1.0
tldextract==3.2.0
intervaltree==3.1.0
parsel==1.6.0
Pygments==2.15.1
datashape==0.5.4
entrypoints==0.4
et-xmlfile==1.1.0
setuptools==75.6.0
rope==1.7.0
bidict==0.22.1
pathspec==0.10.3
itemadapter==0.3.0
quantities==0.14.1
camb==1.5.4
async-timeout==4.0.2
pip==25.1.1
python-json-logger==2.0.7
python-lsp-server==1.7.2
nbformat==5.9.2
tomlkit==0.11.1
networkx==3.1
cytoolz==0.12.0
urllib3==1.26.18
defusedxml==0.7.1
python-magic==0.4.27
jedi==0.18.1
llvmlite==0.41.0
stack-data==0.2.0
pytesseract==0.3.13
specutils==1.12.0
specutils==1.11.0
pickleshare==0.7.5
conda-repo-cli==1.0.75
pandas==2.3.1
Rtree==1.0.1
Bottleneck==1.3.5
rpds-py==0.10.6
nest-asyncio==1.5.6
locket==1.0.0
bokeh==3.2.1
msgpack==1.0.3
bleach==4.1.0
thop==0.1.1-2209072238
blinker==1.9.0
blurhash==1.1.4
datasets==2.12.0
parso==0.8.3
ipython==8.15.0
Mastodon.py==1.8.1
six==1.16.0
pathlib==1.0.1
frozendict==2.4.2
mypy-extensions==1.0.0
filelock==3.9.0
jupyterlab-widgets==3.0.5
SQLAlchemy==2.0.21
ipywidgets==8.0.4
pyasn1-modules==0.2.8
kiwisolver==1.4.4
incremental==21.3.0
plotly==5.9.0
semantic-version==2.8.5
appnope==0.1.2
jupyter-console==6.6.3
anaconda-anon-usage==0.4.2
CosmoBolognaLib==5.2
webencodings==0.5.1
inflection==0.5.1
future==0.18.3
hyperlink==21.0.0
cloudpickle==2.2.1
zict==3.0.0
aiofiles==22.1.0
pytz==2023.3.post1
clyent==1.2.2
isort==5.9.3
jupyterlab_server==2.22.0
navigator-updater==0.4.0
asttokens==2.0.5
typing_extensions==4.14.1
itsdangerous==2.2.0
ruamel-yaml-conda==0.17.21
importlib-metadata==6.0.0
semver==2.13.0
Sphinx==5.0.2
PySocks==1.7.1
traitlets==5.7.1
jsonschema==4.19.2
emacs==24.1.50.1.post20120610
Babel==2.11.0
QtPy==2.2.0
psutil==5.9.0
open3d==0.19.0
asdf-coordinates-schemas==0.2.0
pyct==0.5.0
argon2-cffi==21.3.0
patsy==0.5.3
huggingface-hub==0.17.3
partd==1.4.1
tifffile==2023.4.12
anaconda-project==0.11.1
numpy==1.26.4
scipy==1.13.0
torchvision==0.18.0
dill==0.3.6
MarkupSafe==2.1.1
scikit-learn==1.5.0
jmespath==0.10.0
applaunchservices==0.3.0
tzdata==2023.3
PyQt5==5.15.10
gsl==0.0.3
sip==6.7.12
lxml==4.9.3
pkginfo==1.9.6
cookiecutter==1.7.3
wurlitzer==3.0.2
pyls-spyder==0.4.0
tabulate==0.8.10
jupyter-events==0.8.0
markdown-it-py==2.2.0
debugpy==1.6.7
illustris_python==1.0.0
sniffio==1.2.0
holoviews==1.18.0
nose==1.3.7
jellyfish==1.0.1
colorcet==3.0.1
torchaudio==2.3.0
botocore==1.29.76
linkify-it-py==2.0.0
ndindex==1.8
addict==2.4.0
sphinxcontrib-applehelp==1.0.2
matplotlib==3.10.5
platformdirs==3.10.0
pyviz-comms==2.3.0
aioitertools==0.7.1
tornado==6.3.3
arrow==1.2.3
wandb==0.21.1
appdirs==1.4.4
pyflakes==3.0.1
idna==3.4
coverage==7.4.4
libmambapy==1.5.3
distro==1.8.0
websocket-client==0.58.0
kaleido==0.2.1
QDarkStyle==3.0.2
sympy==1.14.0
threadpoolctl==3.5.0
jupyter_client==7.4.9
wrapt==1.14.1
atomicwrites==1.4.0
blosc2==2.0.0
intake==0.6.8
sphinxcontrib-jsmath==1.0.1
watchdog==2.1.6
pycparser==2.21
Werkzeug==3.1.3
pyzmq==23.2.0
julia==0.6.2
frozenlist==1.4.0
pyobjc-framework-CoreServices==9.0
diff-match-patch==20200713
yapf==0.31.0
mpl-animators==1.1.0
imbalanced-learn==0.10.1
conda_index==0.3.0
PyQtWebEngine==5.15.6
pure-eval==0.2.2
backports.weakref==1.0.post1
backports.functools-lru-cache==1.6.4
backcall==0.2.0
truststore==0.8.0
conda-content-trust==0.2.0
sentry-sdk==2.35.0
fonttools==4.25.0
wheel==0.38.4
torch-geometric==2.6.1
Flask==3.1.1
lz4==4.3.2
soupsieve==2.5
cycler==0.11.0
requests==2.31.0
pytest==7.4.0
chardet==4.0.0
pytoolconfig==1.2.5
pycodestyle==2.10.0
pluggy==1.0.0
gitdb==4.0.12
asdf-wcs-schemas==0.2.0
asdf-wcs-schemas==0.1.1
asdf-transform-schemas==0.4.0
conda_package_streaming==0.9.0
tblib==1.7.0
iniconfig==1.1.1
lazy-object-proxy==1.6.0
matplotlib-inline==0.1.6
PyJWT==2.4.0
pylint==2.16.2
fastjsonschema==2.16.2
requests-file==1.5.1
nbclassic==0.5.5
dash==3.2.0
joblib==1.2.0
terminado==0.17.1
ndcube==2.1.3
itemloaders==1.0.4
mpmath==1.3.0
ipython-genutils==0.2.0
torch==2.3.0
boost==0.1
xyzservices==2022.9.0
mccabe==0.7.0
backports.tarfile==1.2.0
pyobjc-framework-Cocoa==9.0
sortedcontainers==2.4.0
ujson==5.4.0
sphinxcontrib-htmlhelp==2.0.0
pyodbc==4.0.39
safetensors==0.4.0
Automat==20.2.0
pyOpenSSL==23.2.0
binaryornot==0.4.4
greenlet==2.0.1
beautifulsoup4==4.12.2
packaging==23.1
mistune==2.0.4
nltk==3.8.1
Brotli==1.0.9
pydantic==1.10.12
jupyter==1.0.0
numexpr==2.8.7
tokenizers==0.13.2
conda-package-handling==2.2.0
pycosat==0.6.6
imagesize==1.4.1
aiosqlite==0.18.0
sphinxcontrib-qthelp==1.0.3
astropy==5.3.4
certifi==2024.2.2
qstylizer==0.2.2
aiohttp==3.8.5
poyo==0.5.0
PyQt5-sip==12.13.0
QtAwesome==1.2.2
pexpect==4.8.0
imagecodecs==2023.1.23
opencv-python==4.11.0.86
cffi==1.15.1
bcrypt==3.2.0
zstandard==0.19.0
jinja2-time==0.2.0
conda-pack==0.6.0
pyobjc-core==9.0
jupyterlab==3.6.3
appscript==1.1.2
anaconda-cloud-auth==0.1.4
black==0.0
panel==1.2.3
imageio==2.37.0
Scrapy==2.8.0
astroid==2.14.2
archspec==0.2.3
pycurl==7.45.2
w3lib==1.21.0
wcwidth==0.2.5
docutils==0.18.1
python-lsp-black==1.2.1
xlwings==0.29.1
conda-token==0.4.0
gwcs==0.19.0
pydocstyle==6.3.0
ultralytics==8.1.42
regex==2023.10.3
comm==0.1.2
rfc3986-validator==0.1.1
asdf-standard==1.0.3
munkres==1.1.4
PyDispatcher==2.0.5
more-itertools==8.12.0
jupyter_core==5.5.0
widgetsnbextension==4.0.5
jupyter_server_fileid==0.9.0
jsonpointer==2.1
requests-toolbelt==1.0.0
referencing==0.30.2
snowballstemmer==2.2.0
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
ruamel.yaml==0.17.21
conda-libmamba-solver==23.11.0
py-cpuinfo==9.0.0
lmdb==1.4.1
tenacity==8.2.2
pyarrow==11.0.0
pyobjc-framework-FSEvents==9.0
openpyxl==3.0.10
transformers==4.32.1
spyder==5.4.3
smmap==5.0.2
Protego==0.1.16
xxhash==2.0.2
python-snappy==0.6.1
ply==3.11
notebook_shim==0.2.2
ultralytics-thop==2.0.15
libarchive-c==2.9
jupyterlab-pygments==0.1.2
pillow==11.3.0
Cython==0.29.36
pyFFTW==0.14.0
hdf5plugin==4.4.0
whatthepatch==1.0.2
anaconda-client==1.12.1
alabaster==0.7.12
ypy-websocket==0.8.2
asdf-unit-schemas==0.1.0
cssselect==1.1.0
json5==0.9.6
y-py==0.5.9
tqdm==4.65.0
toolz==0.12.0
anaconda-catalogs==0.2.0
s3fs==2023.4.0
zipp==3.11.0
cryptography==41.0.3
aiosignal==1.2.0
nbclient==0.8.0
fsspec==2023.4.0
zope.interface==5.4.0
nbconvert==7.10.0
prometheus-client==0.14.1
HeapDict==1.0.1
numpydoc==1.5.0
aiobotocore==2.5.0
param==1.13.0
three-merge==0.1.1
distributed==2023.6.0
autopep8==1.6.0
gensim==4.3.0
pyquaternion==0.9.9
asdf-astropy==0.4.0
pyparsing==3.0.9
importlib-resources==6.1.0
seaborn==0.12.2
scikit-image==0.25.2
boltons==23.0.0
Twisted==22.10.0
multiprocess==0.70.14
uc-micro-py==1.0.1
textdistance==4.2.1
click==8.1.7
xarray==2023.6.0
Pylians==0.12
jaraco.text==3.12.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
typeguard==4.3.0
packaging==24.2
wheel==0.43.0
zipp==3.19.2
tomli==2.0.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
